.waiting {
  margin-top: 10px;
}

.pc-selection-img {
  width: 80px;
  margin: 10px 0;
}

.user {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 20px;
  min-height: 180px;
}
