.user-card {
  height: 220px;
  padding: 25px 0;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
}

.choice-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
