@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

body {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  /* background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%); */
  height: 100vh;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
}

.rounds {
  color: white;
}

.score-box {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  color: white;
}

.play-box {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin-top: 50px;
}

.box {
  border: 1px solid white;
  background-color: white;
  margin: 0 10px;
  border-radius: 20px;
}

.user-selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

img {
  width: 80px;
  transition: transform 0.1s;
}

.user-selection-img {
  border-radius: 50%;
}

.user-selection-img:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
  transform: scale(1.1);
}

.button {
  margin: 20px;
  width: 80px;
}

.pc-selection-img {
  width: 80px;
}

.message {
  font-size: 26px;
}

.message-box {
  display: grid;
  place-items: center;
}

.reset-btn {
  background-color: white;
  width: 200px;
  margin: 0 auto;
  height: 40px;
  border-radius: 20px;
  transition: transform 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
