@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  font-family: "Montserrat", sans-serif;
}

.App {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
