@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  width: 100vw;
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.App {
  max-width: 1000px;
  min-height: 611.5px;
  padding: 20px;
  /* border: 1px solid red; */
  margin: 0 auto;
  /* position: relative;
  top: 50%; */
  vertical-align: middle;
}

/* .round {
  color: white;
} */

.score-box {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  color: white;
}

.play-box {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin-top: 50px;
}

/* .box {
  border: 1px solid white;
  background-color: white;
  margin: 0 10px;
  border-radius: 20px;
} */

.button {
  margin: 20px;
  width: 80px;
}

.pc-selection-img {
  width: 80px;
}

/* .message {
  font-size: 26px;
}

.message-box {
  display: grid;
  place-items: center;
} */

/* .rules {
  color: white;
} */
